@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chongdian:before { content: "\e601"; }

.icon-tupian:before { content: "\e600"; }

.icon-liwu:before { content: "\e678"; }

.icon-zhaohuo2press:before { content: "\e623"; }

.icon-youhui:before { content: "\e60a"; }

.icon-shop:before { content: "\e606"; }

.icon-weixin:before { content: "\e7e5"; }

.icon-yue01:before { content: "\e630"; }

.icon-qiapian:before { content: "\e621"; }

.icon-shijianzhongbiao2:before { content: "\e811"; }

.icon-wode:before { content: "\e646"; }

.icon-ai-SIM:before { content: "\e66d"; }

.icon-wujiaoxing:before { content: "\e628"; }

.icon-changyonglogo40:before { content: "\e722"; }

.icon-service:before { content: "\e7bb"; }

.icon-imagezhifubao:before { content: "\e67f"; }

.icon-03:before { content: "\e60b"; }

.icon-social-qq:before { content: "\e626"; }

.icon-xiaoxi:before { content: "\e614"; }

.icon-dingwei:before { content: "\e617"; }

.icon-shoucang:before { content: "\e60c"; }

.icon-fenqishangcheng:before { content: "\e748"; }

.icon-sandian:before { content: "\e68b"; }

.icon-qianbi:before { content: "\e627"; }

.icon-liebiaodaohang_gongyi:before { content: "\e639"; }

.icon-xiasanjiao:before { content: "\e613"; }

.icon-youjiantou:before { content: "\e735"; }

.icon-dianhua:before { content: "\e602"; }

.icon-dingdan:before { content: "\e618"; }

.icon-shijian:before { content: "\e60e"; }

.icon-shijian1:before { content: "\e675"; }

.icon-weibo:before { content: "\e69e"; }

.icon-gouwuche:before { content: "\e604"; }

.icon-taobao:before { content: "\e61a"; }

.icon-drxx81:before { content: "\e6f8"; }

.icon-jinggao:before { content: "\e668"; }

.icon-if_Food_C_:before { content: "\e605"; }

.icon-gongxiangchewei:before { content: "\e69d"; }

.icon-f11-copy1:before { content: "\e607"; }

.icon-shipin:before { content: "\e610"; }

.icon-sandian1:before { content: "\e608"; }

.icon--damuzhi:before { content: "\e622"; }

.icon-shouji:before { content: "\e61b"; }

.icon-youxi:before { content: "\e763"; }

.icon-dingwei-:before { content: "\e603"; }

.icon-tubiaoliebiao:before { content: "\e68a"; }

.icon-dingwei1:before { content: "\e612"; }

.icon-x_icon_sizer:before { content: "\e629"; }

.icon-wujiaoxing1:before { content: "\e657"; }

.icon-faxian:before { content: "\e609"; }
